use Mix.Config

# Set Github API acces token
config :github_trends, :github_api,
  access_token: "your_github_api_access_token"

# Set secret key base
config :github_trends, GithubTrends.Endpoint,
  secret_key_base: "secret_key_base"
